body {
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
}

.Top-Banner {
    margin: 3%;
}

.flexible-container {
    display: flex;
}

.headline {
    margin-top: 60px;
}

.half-width h1 {
    font-size: 50px;
    font-weight: 700px;
    color: blue;
    margin: 0;
    padding: 10px;
}

h1 span {
    color: orange;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}

.half-width h3 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 40px;
}

.link-button {
    text-decoration: none;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    color: white;
    font-weight: 500;
    font-size: 22px;
    border-radius: 25px;
    padding: 10px 40px;
}

.middle {
    background: rgba(252, 143, 73, 0.1);
    background-image: url(eat-healthy/images/shapes/7.png);
    background-repeat: no-repeat;
}

.middle-width {
    width: 50%;
}

.middle-width img {
    width: 50%;
    padding: 10%;
    padding-right: 0;
    margin-left: 15px;
}

.middle-info {
    padding: 10%;
    padding-left: 0;
}

.middle-width h1 {
    font-size: 30px;
    padding-bottom: 10px;
}

.middle-width p {
    margin-bottom: 70px;
}

.recipies {
    margin: 0px 50px;
}

.recipie-info {
    padding: 3%;
    background-color: rgba(0, 0, blue, 10);
    border-radius: 5px;
}

.img2 {
    width: 90%;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
}

.img {
    width: 88%;
    border: 2px solid lightcoral;
    border-radius: 20px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
}

.second-part {
    padding-left: 10px;
}

.first-part {
    padding-right: 10px;
}

.subscriber {
    display: flex;
    justify-content: space-around;
    margin: 50px 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.subscriber h1 {
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    margin-bottom: 10px;
}

.subscriber p {
    font-size: 20px;
    font-weight: 400;
}

.footer {
    background: #0B0D17;
    width: auto;
    height: 100px;
    border-radius: 10px;
    padding: 5%;
}

.footer p {
    text-align: center;
    color: white;
}